.name2{
  padding:5px;
  margin-right:300px;
  font-size: large;
  color:white;
  }
.flex-container{
  border: 1px solid gray;
  background-color:gray;
  border-radius: 10px;
  margin:5px;
  padding: 3px;
  justify-content:space-between;
  align-items: center;
  display: flex;
}

.name3{
  border: 1px solid white;
  background-color: rgb(173, 10, 151);
  color: rgb(214, 205, 255);
  border-radius: 5px;
 padding: 10px;
}
.name6{
  text-align: center;
  padding: 20px;
  background-color:white;
  color:black;
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
}
